/*GLOBAL*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, button, select, textarea{
  font-family: 'Poppins', sans-serif;
}

body{
  background: #E5E5E5;
}

body::before{
  content: '';
  width: 100%;
  height: 368px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*HEADER*/
#head-box{
  width: 736px;
  margin: auto;
}

header{
  width: 319px;
  margin-top: 80px;
}

header h1{
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: white;
  margin-bottom: 24px;
}

header p{
  font-size: 16px;
  line-height: 26px;
  color: #42D3FF;
}
/*END HEADER*/

/*FORM*/
form{
  background: #FAFAFC;
  min-height: 300px;
  width: 736px;
  margin: 42px auto 0;
  border-radius: 8px;
  padding: 64px;
}

fieldset{
  border: none;
}

.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset>legend{
  font-family: 'Archivo', 'sans-serif';
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  border-bottom: 1px solid #E6E6F0;
  width: 100%;
  padding-bottom: 16px;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
}

.input-wrapper input, textarea, .input-wrapper select{
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  height: 56px;
  padding-left: 24px;
  color: #7a7a7a;
}

.input-wrapper select{
  appearance: none;
  -webkit-appearance: none;
  background-image: url(images/seta.svg);
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.input-wrapper label{
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  margin-bottom: 8px;
}

.input-wrapper label span{
  margin-left: 12px;
  color: #5a5a5a;
  font-size: 12px;
  line-height: 20px;
}

.input-wrapper label span:hover{
  color: #adadad;
}

textarea{
  padding: 0;
  height: 168px;
  resize: none;
}