/*GLOBAL*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input, button, select, textarea{
  font-family: 'Poppins', sans-serif;
}

body{
  background: #E5E5E5;
}

body::before{
  content: '';
  width: 100%;
  height: 368px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*HEADER*/
#head-box{
  width: 736px;
  margin: auto;
}

header{
  width: 319px;
  margin-top: 80px;
}

header h1{
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: white;
  margin-bottom: 24px;
}

header p{
  font-size: 16px;
  line-height: 26px;
  color: #42D3FF;
}
/*END HEADER*/

/*FORM*/
form{
  background: #FAFAFC;
  min-height: 300px;
  width: 736px;
  margin: 42px auto 0;
  border-radius: 8px 8px 0 0;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset{
  border: none;
}

.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset>legend{
  font-family: 'Archivo', 'sans-serif';
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  border-bottom: 1px solid #E6E6F0;
  width: 100%;
  padding-bottom: 16px;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
}

.input-wrapper input, textarea, .input-wrapper select{
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  height: 56px;
  padding-left: 24px;
  color: #7a7a7a;
}

.input-wrapper select{
  appearance: none;
  -webkit-appearance: none;
  background-image: url(images/seta.svg);
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.input-wrapper label, .checkbox-wrapper{
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  margin-bottom: 8px;
}

.input-wrapper label span{
  margin-left: 12px;
  color: #5a5a5a;
  font-size: 12px;
  line-height: 20px;
}

.input-wrapper label span:hover{
  color: #adadad;
}

textarea{
  padding: 5px;
  height: 168px;
  resize: none;
}

.data-columns{
  display: flex;
  gap: 20px;
}

.data-columns > :nth-child(1){
  flex-grow: 1;
}

.checkbox-wrapper{
  position: relative;
}

.checkbox-wrapper input{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  opacity: 0;
}

.checkbox-wrapper label{
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkbox-wrapper label::before{
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before{
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-wrapper input:focus + label::before{
  outline: 2px solid black;
}

/*FOOTER*/
footer{
  background: #F0F0F4;
  height: 136px;
  display: flex;
  flex-direction: column;
  padding: 40px 64px;
  margin: 0 auto 100px;
  width: 736px;
  border-top: 1px solid #D6D6D6;
  border-radius: 0 0 8px 8px;
}

footer .button{
  height: 56px;
  border: none;
  background-color: #04D361;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

footer .button:hover{
  background-color: #159e53;
}

input:invalid{
  border: 1px solid red;
}